DATABASE_URL=postgres://user:password@db:5432/mydatabase?pool_max_conns=10&sslmode=disable&timezone=Asia%2FJakarta
APP_PORT=8080
JWT_SECRET=-----BEGIN RSA PRIVATE KEY-----\nMIICXgIBAAKBgQCxlXY9ZTiBjacYXk0m2ZZoDx5P2o1GTsvnrBdrfua3eYfS04dt\nj+Q91Bir9J2I4+zEWnwEZpaSoH/6Wu+c1B9x30Y7K0BrV3H/8/9jR3kaKWQ9SOu/\nWtbglwD1PJnX0spq7B1IMxzLPfrHBVgl8t6Phw14cf41bQF7tf2792DARQIDAQAB\nAoGBAKz2DNbZeoK8S+4xEuXu8U5iwzw1ennrDzCS7bCWRfKXnNGbkwEEL+KEbI82\nziThEd9g3f+PR8KCLoPSBCT0ebZYRV/AJymF7ZwSHStkH8oBIoV4EYUoaxkJgjqp\nSyZqV7KSpp8O8UWxYPG259QepwtgAupNy5CGxkbETtD5lTWVAkEA4GxB72ua+7VU\n2kc28KxjzBqHgMsrGVaY6ab+uL4iTc+8Zs+CQG806QebCaOSXfHqOiSEFtIFHbez\nZw71FM3kOwJBAMqSDjofhkQuqElAgdb0DkTSO2+yospdj/9pOgDRJG8yf1jE+SD8\nrnocBfeqHut0zBAEGdccx1rvjdTiVLXAJX8CQQCYJ624dps4RuPFrfzIxghPbDks\nkBKjdjvsRkVy2a4GVW6lwdDMgNk9mON7cIQe35JvYyyPEEtZr5+ZouF0/nbbAkEA\npOLIA9WfM6aKwr1oMnCLoMdDLANK8M/Bo1OirAGQ15ZSBA6o/onO94QR82sdKejz\nJWJBKlC5kLKHTy4/Z4WUvwJAe18fHep2jDHPkjTeq2QpRZsXTy7NCtt9fPc4Ix4C\nkRuQBKqnAtH4C/fwVYVkJZ04FHfINNOk8YGiAwVn/AOMZA==\n-----END RSA PRIVATE KEY-----
JWT_PUBLIC=-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCxlXY9ZTiBjacYXk0m2ZZoDx5P\n2o1GTsvnrBdrfua3eYfS04dtj+Q91Bir9J2I4+zEWnwEZpaSoH/6Wu+c1B9x30Y7\nK0BrV3H/8/9jR3kaKWQ9SOu/WtbglwD1PJnX0spq7B1IMxzLPfrHBVgl8t6Phw14\ncf41bQF7tf2792DARQIDAQAB\n-----END PUBLIC KEY-----
